USE [DemoAppDb]
GO
/****** Object:  Table [dbo].[ExportsHistory]    Script Date: 25.02.2024 18:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportsHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Date] [datetime] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Local] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LocalsV]    Script Date: 25.02.2024 18:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT [Id]
--      ,[Name]
--      ,[Date]
--      ,[UserName]
--      ,[Local]
--  FROM [DemoAppDb].[dbo].[ExportsHistory]

  CREATE VIEW [dbo].[LocalsV] AS
  SELECT DISTINCT Local
  FROM [DemoAppDb].[dbo].[ExportsHistory]
GO
SET IDENTITY_INSERT [dbo].[ExportsHistory] ON 

INSERT [dbo].[ExportsHistory] ([Id], [Name], [Date], [UserName], [Local]) VALUES (1, N'Test_1', CAST(N'2023-12-19T05:51:05.953' AS DateTime), N'User_2', N'Local_7')
INSERT [dbo].[ExportsHistory] ([Id], [Name], [Date], [UserName], [Local]) VALUES (2, N'Test_2', CAST(N'2024-01-19T13:21:11.797' AS DateTime), N'User_1', N'Local_9')
INSERT [dbo].[ExportsHistory] ([Id], [Name], [Date], [UserName], [Local]) VALUES (3, N'Test_3', CAST(N'2024-02-03T16:59:36.913' AS DateTime), N'User_2', N'Local_5')
GO
SET IDENTITY_INSERT [dbo].[ExportsHistory] OFF
GO
